/*......................................................................... 
    Project:   BaseTheme - TCJ
    Version:   1.0
    File:      style.css
    copyright: Since 2012 Opendream Co., Ltd.
    By: Anusorn
......................................................................... */

@import "mixin";


/* Extends Classes
---------------------------------------------------------*/
.wai-hidden, .wai-help{
	@include accessibly-hidden;
}

/* 
---------------------------------------------------------*/

.page-node-1
	.node-content {
		width: 760px;
		margin: 0 auto;
		font-size: 15px;
		h2 {
			background: url('images/h2-bg-shadow.png') no-repeat center bottom;
			text-align: center;
			padding-bottom: 30px;
			margin-top: 80px;
		}
}

.page-node-20
	.node-content {
		width: 760px;
		margin: 0 auto;
		font-size: 15px;
		h2 {
			background: url('images/h2-bg-shadow.png') no-repeat center bottom;
			text-align: center;
			padding-bottom: 30px;
			margin-top: 80px;
		}
}

/* Topics Sidebar Block */
#block-menu_block-1 {
	ul {
		padding: 0; margin: 10px 0 0 0;
		li {
			list-style: none;
			list-style-image: none;
			font-size: 18px;
			line-height: 24px;
			/*font-family: sr_fahthailight;*/
			padding: 0 0 25px 0; margin: 0 5px;
			background: url('images/h2-bg-shadow.png') no-repeat right bottom;
			a {
				margin-left: 15px;
			}
		}
	}
}


/* Page - About */

#block-block-1 { /* Facebook Like Box */
	background: #fff;
	@include radius(5px, 5px, 5px, 5px);
}


/* Footer */
#footer {
	font-size: 12px;
	color: #4d4540;
	margin: 0;
	overflow: hidden;
	margin-bottom: 0;
}
#block-block-4 {
	background: url('images/bg-tran.png');
	padding: 10px;
	@include radius(5px, 5px, 5px, 5px);
}


blockquote {
	background: url('images/qoute-bg.png') no-repeat;
	width: 500px;
	margin: 0 auto;
	font-style: normal;
	padding: 20px 40px 20px 120px;
	p {
		font-size: 16px;
	}
}


.page-node-20 .main-content,
.page-node-1 .main-content {
	background: url('images/bg-content-footer.jpg') no-repeat bottom;
	padding-bottom: 300px;
}

/* search block */
#block-multiblock-1, #block-views--exp-search-page {
  margin: 0;
	.block-inner {
		position: absolute;
		top: 15px;
		right: 0;
		z-index: 99;
		#views-exposed-form-search-page {
		  #edit-keyword-wrapper{padding: 0;}
		  label {text-indent: -999em; overflow: hidden; position: absolute;}
		  input.form-text {
			font-size: 12px;
			width: 180px;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			background-color: #fff;
			border: 1px solid #83a7ad;
			padding: 4px 33px 4px 10px;
			height: 20px;
		  }
		  .views-submit-button {
		    float: none;
		    input.form-submit {
				display: block;
				height: 25px;
				width: 30px;
				filter: none;
				background: url('images/ic-search.png') no-repeat 0 0;
				padding-top: 20px;
				border: 0;
				text-indent: -9999em !important;
				position: absolute;
				top: 3px;
				right: 0;
				box-shadow: none;
				margin: 0;
				cursor: hand;
				cursor: pointer;
			  }
		  }
		}
	}
}

#block-views--exp-search-page {
	.block-inner {
		position: absolute;
		top: 15px;
		left: 0;
		z-index: 99;
		#views-exposed-form-search-page {
			input.form-submit {
			  left: 195px;
			  right: 0;
			  top: 3px;
			}
		}
	}
}
.page-search {
	#main-content {
		.view-search {
			margin: 50px 0 0;
			.view-header {
				margin: 0 0 20px;
			}
			.view-content {
				ul {
				  list-style: none;
				  li {
				    margin: 0 0 20px;
				    padding: 0 0 20px;
				    border-bottom: 1px dashed #858585;
				    .views-field-tcj-org-title {
					  font-size: 1.1em;
					  margin: 0 0 10px;
				    }
				  }
				}
			}
		}
	}
}